<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>[$title$]</title>
<link rel="stylesheet" type="text/css" href="[$urlToBase$]theme.css" />
<style type="text/css"></style>
</head>

<body>

<table>
<tr>
<td style="padding-top: 0px">
</td>

<td class="main-panel">
[$framed$]
</td>

</tr>
</table>

</body>

</html>
