<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>[$title$]</title>
<link rel="stylesheet" type="text/css" href="[$urlToBase$]theme.css" />
<style type="text/css"></style>
</head>

<body>

<table>
<tr>
<td style="padding-top: 0px">
</td>

<td class="main-panel">
	<h1>Have Your Efficiency, and Flexibility Too</h1>
	<h3 style="margin-top: 0px; margin-bottom: 0px;">Metaprogramming Techniques For No-Compromise Code</h3>
	<h4 style="margin-top: 0px; margin-left: 1em; font-style: italic;">by Nick Sabalausky</h4>

	<p class="note">
	Full source code for this article is
	[$link| http://github.com/Abscissa/efficientAndFlexible | available on GitHub $],
	or can be <a href="[$urlToBase$]efficientAndFlexible.zip">downloaded here</a>.
	</p>

	<p style="margin-bottom: 0px;">View this article on a
		<a class="pagemenu-link" href="[$urlToBase$]SinglePage/">Single Page</a>
		or
		<span class="pagemenu-link">Multiple Pages</span>
	</p>

	<h4 style="margin-bottom: 0px;">Table of Contents:</h4>
	<ol style="font-weight: bold; margin-top: 0px;">
	<li style="margin-bottom: 0px;">[$pageTitle|Page1$]</li>
	<li style="margin-bottom: 0px;">[$pageTitle|Page2$]</li>
	<li style="margin-bottom: 0px;">[$pageTitle|Page3$]</li>
	<li style="margin-bottom: 0px;">[$pageTitle|Page4$]</li>
	<li style="margin-bottom: 0px;">[$pageTitle|Page5$]</li>
	<li style="margin-bottom: 0px;">[$pageTitle|Page6$]
		<ul style="font-weight: bold; margin-top: 0px;">
		<li style="margin-bottom: 0px;">
			<a class="pagemenu-link" href="../Page6/#part6-1">Method #1: Compile-Time Function Execution</a>
		</li>
		<li style="margin-bottom: 0px;">
			<a class="pagemenu-link" href="../Page6/#part6-2">Method #2: Compiling at Runtime</a>
		</li>
		<li style="margin-bottom: 0px;">
			<a class="pagemenu-link" href="../Page6/#part6-3">Method #3: Convert a Runtime Value to Compile-Time</a>
		</li>
		<li style="margin-bottom: 0px;">
			<a class="pagemenu-link" href="../Page6/#part6-4">Method #4: Dynamic Fallback</a>
		</li>
		</ul>
	</li>
	<li style="margin-bottom: 0px;">
		[$pageTitle|Page7$]
		
		<ul style="font-weight: bold; margin-top: 0px;">
		<li style="margin-bottom: 0px;">
			<a class="pagemenu-link" href="../Page7/#part7-1">Conversion Downsides And Possible Fixes</a>
			
			<ul style="font-weight: bold; margin-top: 0px;">
			<li style="margin-bottom: 0px;">
				<a class="pagemenu-link" href="../Page7/#part7-1-1">Hold It, Gizmo! Quit Squirming Around!</a>
			</li>
			<li style="margin-bottom: 0px;">
				<a class="pagemenu-link" href="../Page7/#part7-1-2">Hey Data, Get Back Here!</a>
			</li>
			</ul>
		</li>
		</ul>
	</li>
	<li style="margin-bottom: 0px;">[$pageTitle|Page8$]</li>
	</ol>

	[$framed$]

	<h4 style="margin-bottom: 0px;">Table of Contents:</h4>
	<ol style="font-weight: bold; margin-top: 0px;">
	<li style="margin-bottom: 0px;">[$pageTitle|Page1$]</li>
	<li style="margin-bottom: 0px;">[$pageTitle|Page2$]</li>
	<li style="margin-bottom: 0px;">[$pageTitle|Page3$]</li>
	<li style="margin-bottom: 0px;">[$pageTitle|Page4$]</li>
	<li style="margin-bottom: 0px;">[$pageTitle|Page5$]</li>
	<li style="margin-bottom: 0px;">[$pageTitle|Page6$]
		<ul style="font-weight: bold; margin-top: 0px;">
		<li style="margin-bottom: 0px;">
			<a class="pagemenu-link" href="../Page6/#part6-1">Method #1: Compile-Time Function Execution</a>
		</li>
		<li style="margin-bottom: 0px;">
			<a class="pagemenu-link" href="../Page6/#part6-2">Method #2: Compiling at Runtime</a>
		</li>
		<li style="margin-bottom: 0px;">
			<a class="pagemenu-link" href="../Page6/#part6-3">Method #3: Convert a Runtime Value to Compile-Time</a>
		</li>
		<li style="margin-bottom: 0px;">
			<a class="pagemenu-link" href="../Page6/#part6-4">Method #4: Dynamic Fallback</a>
		</li>
		</ul>
	</li>
	<li style="margin-bottom: 0px;">
		[$pageTitle|Page7$]
		
		<ul style="font-weight: bold; margin-top: 0px;">
		<li style="margin-bottom: 0px;">
			<a class="pagemenu-link" href="../Page7/#part7-1">Conversion Downsides And Possible Fixes</a>
			
			<ul style="font-weight: bold; margin-top: 0px;">
			<li style="margin-bottom: 0px;">
				<a class="pagemenu-link" href="../Page7/#part7-1-1">Hold It, Gizmo! Quit Squirming Around!</a>
			</li>
			<li style="margin-bottom: 0px;">
				<a class="pagemenu-link" href="../Page7/#part7-1-2">Hey Data, Get Back Here!</a>
			</li>
			</ul>
		</li>
		</ul>
	</li>
	<li style="margin-bottom: 0px;">[$pageTitle|Page8$]</li>
	</ol>

</td>

</tr>
</table>

</body>

</html>
